.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: black;
  /* list-style-type: none; */
}

/* -------- header -------- */
.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url('../images/logo_place_header.svg');
  z-index: 2;
}

.header__title {
  max-width: 730px;
  width: 100%;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  z-index: 2;
}

.header__link {
  color:  #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  color: #89b0e4;
  text-decoration: none;
}

.header__main-illustration {
  position:absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  object-fit: cover;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  background: #2f80ed;
  height: 568px;
  width: 568px;
}

/* -------- description -------- */

.description {
  margin: 100px auto;
  width: 80%;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  min-height: auto;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__main-text :last-child {
  margin: 0;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* -------- digits -------- */

.digits {
}

.section-title {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 20px auto 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  list-style-type: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

/* -------- feynman -------- */

.feynman {
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}
.feynman__title {
  width: 648px;
  padding-top: 100px;
  margin: 100px auto 70px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  text-align: center;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:hover {
  color: #89b0e4;
  text-decoration: underline;
}

/* -------- kaufman -------- */
.kaufman {
  position: relative;
  background-color: #1f1f1f;
  color: white;
  padding: 90px 0;
  overflow: hidden;
}

.section-title_theme_dark {
  position: relative;
  z-index: 11;
}

.section-subtitle_theme_dark {
  position: relative;
  z-index: 11;
}

.table_theme_dark {
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 11;
}

.table__heading_theme_dark {
}

.table__text_theme_dark {
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  height: 877px;
  width: 877px;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
  z-index: 0;
}

/* -------- footer -------- */

.footer {
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  max-width: 90%;
  margin: 60px auto 40px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
  position: static;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {

}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-link {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  margin: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
