.khan__buy-link {
  position: static;
  height: auto;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color:  #2f80ed;
  text-decoration: none;
  transition: .3s ease-in;
}

.khan__buy-link:hover {
  text-decoration: none;
  opacity: 0.8;
}
